<h1>Bulk Swap Tool</h1>
<div class="home-container">
  <div class="function-container">
    <div class="form-container">
      <h4>Search</h4>
      <%= form_with url: "/search", method: :get do |form| %>
        <%= form.text_field :search_product, placeholder: "Search" %>
        <%= form.submit "Search" %>
      <% end %>
    </div>
    <div class="subs-list">
      <h4>Subscriptions</h4>
      <% @subscriptions.each do |sub| %>
        <span><%= "#{sub.customer_email} | #{sub.product_title} | #{sub.variant_title}" %></span>
      <% end %>
    </div>
  </div>
  <div class="function-container">
    <div class="form-container">
      <h4>Swap</h4>
      <%= form_with url: "/replace", method: :get do |form| %>
        <%= form.text_field :old_product, placeholder: "Old Product" %>
        <%= form.text_field :new_product, placeholder: "New Product" %>
        <%= form.submit "Swap" %>
      <% end %>
    </div>
    <div class="subs-list">
      <h4>Subscriptions after change</h4>
      <% if @new_subscriptions != nil %>
        <% @new_subscriptions.each do |sub| %>
          <span><%= "#{sub.customer_email} | #{sub.product_title} | #{sub.variant_title}" %></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
